<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<style>
    li a {
    
    color: rgb(17, 17, 17);
    font-size: larger;
    text-align: center;
    text-decoration: none;
  }
</style>
<body>
    <nav class="navbar navbar-expand-sm">
        <div>
          <img class="img-fluid" src="https://global-uploads.webflow.com/5e157548d6f7910beea4e2d6/63e4f369e6e08090ee0ad07d_Screenshot%202023-02-09%20at%206.46.57%20PM.png" style="width: 40%; height: 40%; border-radius: 50%;" class="rounded">
        </div>
      
        <ul class="navbar-nav ml-auto" style="margin-right: 10%; margin-bottom:20px;">
            <li class="nav-item">
                <a class="nav-link" href=""style="margin-right: 50px;">
                 HOME
                </a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
              <a class="nav-link" href="{% url 'company' %}">
                OUR COMPANY
              </a>
          </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="{% url 'service' %}">
                  SERVICES
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pro' %}" style="margin-right: 50px;">
                  PROJECTS
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'con' %}" style="margin-right: 50px;">
                CONTACT US
              </a>
          </li>
        </ul>
    </nav>



    <div class="fade-bottom">

                
        <div class="wrap">
            <div class="row">
                <div class="col col-xs-12">
                    <h1 class="heading-lg" style="text-align: center;">Contact us</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <div class="editor-content"><div class="row" style="padding-top: 40px;">
<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
<div style="margin-left: 30%;">First Construction Trading &amp; Contracting Company WLL</div>
<div></div>
<div style="margin-left: 30%;">P.O. Box 480 fhgghghjk</div>
<div style="margin-left: 30%;"> 15255 - gjgjh,hgfhgf<br />Tel: +(965) 1800500</div>
<div style="margin-left: 30%;">Fax: +(965) 1800600</div>
<div style="margin-left: 30%;"><br />Email: &nbsp;<a href="">info@firstfhgj.com</a></div>
<div style="margin-left: 30%;">Webmaster: <a href="">admin@firstgh.com</a></div>
<div></div>
</div>
<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12"><iframe width="50%" height="280" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255281.22560151154!2d103.67943597208931!3d1.3139946155431672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da11238a8b9375%3A0x887869cf52abf5c4!2sSingapore!5e0!3m2!1sen!2sin!4v1685035228644!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
</div></div>
                </div>
            </div>
        </div>

    
</div>

</div>
</div>

<div style="width: 500px; height: 500px; margin-left: 35%; margin-top: 250px;" >
    <form>
        <h1 >Contact Form</h1>
        <div class="form-group row" style="margin-top: 80px;">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your full name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Mobile</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your mobile number">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your email address">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Message</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Enter Message" style="width: 410px; height: 200px;">
            </div>
          </div>
    </form>
</div>




<div class="footer-middle" style="background-color: black; margin-top: 50px;"> 
    <div class="container">
      <div class="row">
                                                              <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div id="about_us-widget-9" class="widget about_us">			<!-- About Widget -->
  <div class="about-footer">
  <div class="footer-widget address">
    <div class="footer-logo">
                                  </div>
    <div class="footer-address">
                                              </div>
  </div>
  </div>	
  
  </div><div id="about_us-widget-5" class="widget about_us">			<!-- About Widget -->
  <div class="about-footer">
  <div class="footer-widget address">
    <div class="footer-logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTybInveyPFzYziYpyAy45Hyi3OjJhUySYoBg&usqp=CAU"  alt="" style="padding-top: 30px; width: 100px; height: 100px; margin-right: 60%;">    
         <br><p style="color: beige;">KNA PLAZA, Kundannoor<br>
          Kochi, Kerala 682304</p> 
          <div class="text-m-small line-height-24 text-medium-gray"> <a href="" class="text-medium-gray">weddingphotography@gmail.com</a></div>
  
                              <div class="text-m-small line-height-24 text-medium-gray" style="color: antiquewhite;">Phone: +91 999 546 9222  </div>
  
                              <div class="text-m-small line-height-24 text-medium-gray" style="color: antiquewhite;">Phone: +91 996 199 8444 </div>             
        
                  </div>
                  <div class="col-lg-3 footer-sm col-md-4 col-sm-6 widget margin-30px-top">
                                  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15719.85030919971!2d76.3183881!3d9.9370718!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa84056d3a732a1ae!2sCrystalline%20Photography!5e0!3m2!1sen!2sin!4v1664373217895!5m2!1sen!2sin" width="200" height="120" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
  
  </div>
  </div>	
  
  </div><div id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-social-menu-container"><ul id="menu-social-menu" class="menu">
  </ul></div></div>										</div>
            
                                                                <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div id="nav_menu-2" class="widget widget_nav_menu"><h2 class="widget-title">Quick Links</h2><div class="menu-our-company-container"><ul id="menu-our-company" class="menu"><li id="menu-item-423" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-423"><a href="#"  style="color: whitesmoke;">Home</a></li>
  <li id="menu-item-424" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-424"><a href="#" style="color: whitesmoke;">Contact</a></li>
  <li id="menu-item-425" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-425"><a href="#"  style="color: whitesmoke;">Our Services</a></li>
  <li id="menu-item-426" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-426"><a href="#"  style="color: whitesmoke;">Projects</a></li>
  <li id="menu-item-427" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-427"><a href="#"  style="color: whitesmoke;">Home</a></li>
  </ul></div></div>										</div>
            
                                                                <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div id="about_us-widget-3" class="widget about_us"><h2 class="widget-title">Our Services</h2>
                <ul class="list-unstyled" >
                                    
                  <!-- <li style="color: antiquewhite;"><a class="text-medium" href=""  style="line-height:36px; color: antiquewhite;">Christian Wedding Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Hindu Wedding Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Muslim Wedding Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Save the Date Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Baptism Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Holy Communion Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Haldi Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Birthday Photography</a></li>
                    </ul>
                   <ul class="list-unstyled">
              <li><a  class="text-medium" href="" style="line-height:36px;color: antiquewhite;">Drone or Helicam</a></li>
              <li><a  class="text-medium" href="" style="line-height:36px;color: antiquewhite;">Live Streaming for Wedding</a></li>
              <li><a  class="text-medium" href="" style="line-height:36px;color: antiquewhite;"> Wedding Video Editing</a></li>
              <li><a  class="text-medium" href="" style="line-height:36px;color: antiquewhite;"> Wedding Album Designing</a></li>
   -->
  
              </ul>	
                      <!-- About Widget -->
  <div class="about-footer">
  <div class="footer-widget address">
    <div class="footer-logo">
                        
                  </div>
                  
    <div class="footer-address">
                    <div class="footer_s_inner"> 
        <div class="footer-sociala-icon">
          <i class="fa fa-home"></i>
        </div>									
        <div class="footer-sociala-info">				
        </div> 
      </div> 
                                  <div class="footer_s_inner"> 
        <div class="footer-sociala-icon">
          <i class="fa fa-phone"></i>
        </div> 									
        
      </div>
                                
        <div class="footer_s_inner"> 
          <div class="footer-sociala-icon"> 
            <i class="fa fa-globe"></i>
          </div> 
          <div class="footer-sociala-info">  
          </div>
        </div>
                  </div>
  </div>
  </div>	
  
  </div>										</div>
            
                                                                <div class="col-sm-12 col-md-6 col-lg-3 last">
              <div id="about_us-widget-6" class="widget about_us">		<!-- About Widget -->
  <div class="about-footer">
  <div class="footer-widget address">
    <div class="footer-logo">
                        
                  </div>
    <div class="footer-address">
                                              </div>
  </div>
  </div>	




</body>
</html>